/* src/app/globals.css */

@import "../styles/base.css";
@import "../styles/header.css";
@import "../styles/dashboard.css";
@import "../styles/footer.css";
@import "../styles/components.css";
@import "../styles/chatbot.css";
@import "../styles/login.css";
@import "../styles/profile.css";